.footer {
  background-color: #121711;
  padding-top: 40px;
}
.footer__inner {
  margin: 0 40px;
}
.footer__head {
  display: flex;
  margin-bottom: 40px;
}
.footer__title {
  margin-right: 20px;
  font-size: 38px;
}
.footer__insta {
  width: 33px;
}
.footer__text {
  font-family: "Noto Sans";
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: normal;
}
.footer__contact {
  margin: 0 auto;
  background: url("/image/footer__contact.png") center center/cover no-repeat;
}
.footer__textall {
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}
.footer__form-text {
  font-family: "Noto Sans";
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
.footer__form-text2 {
  font-family: "Noto Sans";
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}
.footer__btn {
  font-family: "Noto Sans";
  font-size: 18px;
  color: #000;
  max-width: 65%;
  padding: 11px 16px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #2e2e2e;
  background: #fff;
}
.footer__googlemap {
  display: none;
}
.footer__copy {
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
}
.footer__textbox {
  margin: 0 30px;
  line-height: 1.2em;
}

.sitemap {
  font-family: "Noto Sans";
}
.sitemap__all {
  margin: 0 35px 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}
.sitemap__title {
  font-size: 18px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 20px;
}
.sitemap__head {
  font-size: 18px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
.sitemap__text {
  margin-bottom: 10px;
  font-size: 16px;
}

@media screen and (min-width: 431px) {
  .footer {
    padding: 68px 0 0;
  }
  .footer__inner {
    width: 83.05%;
    max-width: 1340px;
    margin: 0 auto;
  }
  .footer__textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
  .footer__text {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .footer__adress {
    margin-top: 68px;
  }
  .footer__contact {
    margin: 0;
    margin-left: 26px;
    width: 400px;
    height: auto;
  }
  .footer__form-text {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
  }
  .footer__form-text2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer__btn {
    display: block;
    font-size: 30px;
    margin: 0 auto 0;
    padding: 12px 30px;
  }
  .footer__textall {
    left: 9%;
  }
  .footer__con-map {
    width: 77vw;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .footer__map {
    width: 45%;
  }
  .footer__googlemap {
    display: block;
    width: 50%;
  }
  .footer__sitemap {
    width: 100%;
  }
  .sitemap__title {
    margin-left: 48.5%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
    font-size: 24px;
    margin-bottom: 24px;
  }
  .sitemap__head {
    font-size: 20px;
    padding-right: 20px;
  }
  .sitemap__text {
    margin-top: 26px;
  }
  .sitemap__all {
    margin-left: 49%;
    width: 46%;
    display: flex;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=footer.css.map */